.our-team-header
{
    margin: 80px 0 30px 0;
}
.member-fullname
{
    font-size: 1.25em;

    margin-top: 10%;

    border-top: 2px solid #e7e7e7;;
}
.member-box
{
    position: relative;

    display: block;

    max-width: 650px;
    margin: 0 auto;
}

.member-box .member-box-bg
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
            transition: all .35s;

    opacity: 0;
    background-color: #ffc107;
}
.member-box:hover .member-box-bg
{
    opacity: .6;
}

.team-row
{
    padding: 30px 0;
}
