.form-name
{
    margin: 20px 0;
}

textarea.form-control
{
    height: 80px;

    resize: none;
}

.form-control
{
    height: 40px;
}

.svg-divider{
    display: block;
    margin: 0 auto 0 auto;
    height: 20px;
    fill: #cccccc;
}
