.form-name
{
    margin: 20px 0;
}

textarea.form-control
{
    height: 80px;

    resize: none;
}

.form-control
{
    height: 40px;
}

.error-message {
    margin: 0;
    color: #ff585d;

}

.form-button {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;

    text-transform: uppercase;
}

.form-button:hover {
    background-color: #FF5252;
    color: white;

}