.about-us {
    padding: 80px 0 50px 0;
}

.about__description {
    font-size: 16px;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.45;
}

.section-line {
    width: 80px;
    height: 2px;
    margin: 30px auto;
    background: #111 none repeat scroll 0 0;
}

.section-text {
    font-size: 18px;
    font-weight: 300;
    color: #777;
    line-height: 1.7778;
}