.portfolio__image {
    padding: 0;
}
.portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    opacity: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    background-color: #fff;
}

.portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

.project-category {
   font-size: 20px;
   font-weight: bold;
    text-transform: uppercase;
}

.portfolio-box-caption:hover {
    opacity: 0.8;
}