header
{
    height: 866px;

    text-align: center;
}

.header__content
{
    font-family: 'Courier New', sans-serif;
    font-size: 60px;
    font-weight: 600;

    z-index: 10;

    height: 466px;
    padding-top: 400px;

    color: #fff;
}

.section__video
{
    height: 866px;

    color: #fff;
    background-size: cover;
}

.video__case
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 866px;

    text-align: center;
}

.video-main
{
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 866px;
}

.svg-redesignText
{
    position: absolute;
    bottom: 22%;

    display: block;

    width: 100%;

    border: none;

    fill: rgba(219, 219, 219, .71);
}
