.navbar-fixed-top
{
    padding: 25px 0;

    -webkit-transition: padding .3s;
       -moz-transition: padding .3s;
            transition: padding .3s;
}

.navbar-fixed-top.smaller
{
    padding: 0;
    opacity: 0.8;
}
