footer
{
    background: #adadad;
}

footer h3
{
    margin-bottom: 30px;

    text-transform: uppercase;
}

.btn-outline
{
    font-size: 20px;
    line-height: 45px;

    display: inline-block;

    width: 50px;
    height: 50px;

    color: #000;
    border: 2px solid #000;
    border-radius: 100%;
}

.btn-outline:hover
{
    color: #fff;
    border-color: #fff;
}

.box-social
{
    margin-bottom: 20px;
}

.audioPlayer{
    visibility: hidden;
}
